@model PooPlanner.UI.Models.OverviewViewModel

<h1>Overview</h1>

<h2>Stool</h2>
<table>
    <tr>
        <th>Date and time</th>
        <th>Consistency</th>
        <th>Size</th>
    </tr>
    <tr>
        @foreach (var stool in Model.Stools)
        {
            <td>@stool.Timestamp</td>
            <td>@stool.Consistency</td>
            <td>@stool.Size</td>
        }
    </tr>
</table>

<h2>Medications</h2>
<table>
    <tr>
        <th>Medicine</th>
        <th>Date and time</th>
        <th>Amount</th>
        <th>Unit</th>
    </tr>
    <tr>
        @foreach (var med in Model.Medications)
        {
            <td>@med.MedicineName</td>
            <td>@med.Timestamp</td>
            <td>@med.Amount</td>
            <td>@med.MedicineUnit</td>
        }
    </tr>
</table>